.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background-color: red;
}

.ex-2-square {
    transition: 3s;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    opacity: 1;
    transition: 3s;
}

.ex-4-square:hover {
    opacity: 0;
}

.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    width: 120px;
    height: 120px;
}

.ex-5-square:active {
    width: 90px;
    height: 90px;
}

.ex-6-img:hover {
    filter: grayscale(1);

}

.ex-7-img {
    transition: 3s;
}

.ex-7-img:hover {
    filter: brightness(0.5) hue-rotate(90deg);
}

.ex-8-img {
    transition: 2s;
}

.ex-8-img:hover {
    filter: opacity(0.5) blur(3px);
    border-radius: 10px;
}

.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    width: 500px;
    filter: opacity(0.7) blur(2px);
    border-radius: 10px;
}

.ex-10-icon {
    animation-name: rotazione;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotazione {
    0% {transform:rotate(0deg)}
    50% {transform:rotate(180deg)}
    100% {transform:rotate(360deg)}
}

.ex-11-icon:hover {
    animation-name: rotazione-2;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes rotazione-2 {
    0% {transform:rotate(0deg)}
    75% {transform:rotate(270deg)}
    100% {transform:rotate(0deg)}
}

.ex-12-top-white {
    animation-name: animation-white-1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation-white-1 {
    0% {top: -10px; left: 10%;}
    50% {top: -10px; left: 60%;}
    100% {top: -10px; left: 10%;}
}

.ex-12-bottom-white {
    animation-name: animation-white-2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation-white-2 {
    0% {bottom: -10px; right: 10%;}
    50% {bottom: -10px; right: 60%;}
    100% {bottom: -10px; right: 10%;}
}

.ex-13-top-white {
    animation-name: animation-white-3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation-white-3 {
    0% {top: -10px; left: -10%;}
    25% {top: -10px; left: 90%;}
    50% {top: 60px; left: 90%;}
    75% {top: 60px; left: -10%;}
    100% {top: -10px; left: -10%;}
}

.ex-13-bottom-white {
    animation-name: animation-white-4;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes animation-white-4 {
    0% {bottom: -10px; right: 10%;}
    25% {bottom: -10px; right: 80%;}
    50% {bottom: 60px; right: 80%;}
    75% {bottom: 60px; right: 0%;}
    100% {bottom: -10px; right: -10%;}
}
